body, html {
    height: 100%;
    color: white;
}

.bg { 
    /* The image used */
    background-image: url("../img/bg-construction.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
	background-color: #fff;
	color: #CB4011;
	border-radius: 10px;
	padding: 10px 10px 15px;
}